body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: rgba(155, 89, 182, 0.1);
}

.cardn {
  border-radius: 50px;
  margin: 2vw 10vw 10vw 10vw;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 20px rgb(0 0 0 / 10%);
  background-color: white;
}

h1 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 30px;
  font-weight: bold;
}

div {
  padding-bottom: 20px;
}

.header {
  padding-top: 20px;
  background-color: #f39c12;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
